@import "tailwindcss";

body{
  background: linear-gradient(90.06deg, #301D4B 56.1%, #483C7B 99.95%);
  padding: 10px;
  background-size: cover;
  overflow: hidden;
}

@font-face {
  font-family: 'Arial Nova';
  src: url('/fonts/ArialNova-Regular.woff2') format('woff2'),
       url('/fonts/ArialNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
